# Case study on python flask
Using the iris dataset, create a web application to take feature inputs from the
user in a web page and print to which species it is classified.

In [25]:

import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("iris.xls")

In [3]:
data.head(10)

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa
5  5.4  3.9  1.7  0.4    Iris-setosa
6  4.6  3.4  1.4  0.3    Iris-setosa
7  5.0  3.4  1.5  0.2    Iris-setosa
8  4.4  2.9  1.4  0.2    Iris-setosa
9  4.9  3.1  1.5  0.1    Iris-setosa

In [4]:
data["Classification"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [7]:
data.describe()

               SL          SW          PL          PW
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
#Label encoding of y

In [9]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()
data["Classification"]=lr.fit_transform(data["Classification"])

In [10]:
data["Classification"]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Classification, Length: 150, dtype: int32

In [11]:
X=data.drop(["Classification"],axis=1)

In [12]:
y=data["Classification"]

In [13]:
y.view

<bound method Series.view of 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Classification, Length: 150, dtype: int32>

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=143)

In [15]:
#Machine learning model building

In [16]:
#Logistic regression

In [17]:
from sklearn.linear_model import LogisticRegression
lr1=LogisticRegression()
lr1=lr1.fit(X_train,y_train)
y_pred=lr1.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9

In [19]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt=dt.fit(X_train,y_train)
y_dt=dt.predict(X_test)
print(accuracy_score(y_test,y_dt))

0.9333333333333333

In [20]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn=knn.fit(X_train,y_train)
y_knn=knn.predict(X_test)
print(accuracy_score(y_test,y_knn))

0.9333333333333333

In [21]:
#Decision tree and KNN model gives same highest accuracy henec we are going to train the model again with entire dataset into the decision tree model so as to dumple into a pickle file

In [22]:
#Decision tree for pickle file creation
dt1=DecisionTreeClassifier()
dt1.fit(X,y)

DecisionTreeClassifier()

In [23]:
import pickle

In [24]:
pickle.dump(dt1,open("dt_model.pkl","wb"))